# ignore CMakeFiles
**/CMakeFiles

# ignore CMakeCache.txt
**/CMakeCache.txt

#ignore CTestTestfile.cmake
**/CTestTestfile.cmake

# ignore cmake_install.cmake
**/cmake_install.cmake

#ignore Makefiles
**/Makefile

#ignore grpc files
**/grpc

#ignore bin
**/bin

#ignore gens
**/gens

#ignore pb.cc files
**.pb.cc

#ignore pb.h files
**.pb.h

#ignore .grpc.pb.cc files
**.grpc.pb.cc

#ignore .grpc.pb.h files
**.grpc.pb.h

#ignore .grpc.a files
**.grpc.a

#ignore .proto.a files
**.proto.a

#ignore kvstore_server
project/cpp/kvstore/kvstore_server

#ignore kvstore_client
project/cpp/kvstore/kvstore_client

#ignore kvstore_test
project/cpp/kvstore/kvstore_test

#ignore .txt
*.txt

# vagrant
.vagrant
*.log
