# ignore all CMakeFiles
**/CMakeFiles

# ignore all CMakeCache.txt
**/CMakeCache.txt

#ignore all CMakeLists.txt
**/CMakeLists.txt

# ignore all cmake_install.cmake
**/cmake_install.cmake

#ignore all Makefile
**/Makefile

#ignore all grpc files
**/grpc